<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>DEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>OSBundleUsageDescription</key>
    <string>Drives Thrustmaster T-series and Logitech G-series racing wheels.</string>
    <key>HIDExportProperties</key>
    <dict>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleIdentifierKernel</key>
        <string>com.apple.kpi.iokit</string>
        <key>IOClass</key>
        <string>IOUserService</string>
        <key>IOUserClass</key>
        <string>HIDExport</string>
    </dict>
    <key>MacoswheelsUserClientProperties</key>
    <dict>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleIdentifierKernel</key>
        <string>com.apple.kpi.iokit</string>
        <key>IOClass</key>
        <string>IOUserUserClient</string>
        <key>IOUserClass</key>
        <string>MacoswheelsUserClient</string>
    </dict>
    <key>IOKitPersonalities</key>
    <dict>
        <key>TSeries-Boot</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46685</integer>
            <key>bInterfaceNumber</key>
            <integer>0</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TSeries-Boot</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>boot</string>
        </dict>
        <key>T150</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46711</integer>
            <key>bInterfaceNumber</key>
            <integer>0</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T150</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T300-PS3-Normal</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46702</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T300-PS3-Normal</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T300-PS3-Advanced</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46703</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T300-PS3-Advanced</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T300-PS4-Normal</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46701</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T300-PS4-Normal</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>TX</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46697</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TX</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>TSXW</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46738</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TSXW</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>TSPC</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46729</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TSPC</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T248</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46742</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T248</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T128</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46735</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T128</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>TGT</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46734</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TGT</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>Logitech-Boot</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49812</integer>
            <key>bInterfaceNumber</key>
            <integer>0</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.Logitech-Boot</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>boot</string>
        </dict>
        <key>DFP</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49816</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.DFP</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>DFGT</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49818</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.DFGT</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>G25</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49817</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.G25</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>G27</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49819</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.G27</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>G29</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49743</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.G29</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>G920</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49762</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.G920</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>G923-PC</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49766</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.G923-PC</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>G923-PS</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49767</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.G923-PS</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>G923-Xbox</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49774</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.G923-Xbox</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>TH8A</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46727</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TH8A</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>DFShifter</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1133</integer>
            <key>idProduct</key>
            <integer>49820</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.DFShifter</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
    </dict>
</dict>
</plist>
