<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>DEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>OSBundleUsageDescription</key>
    <string>Drives Thrustmaster T-series and Logitech G-series racing wheels.</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>TSeries-Boot</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46685</integer>
            <key>bInterfaceNumber</key>
            <integer>0</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TSeries-Boot</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>boot</string>
        </dict>
        <key>T150</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46711</integer>
            <key>bInterfaceNumber</key>
            <integer>0</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T150</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T300-PS3-Normal</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46702</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T300-PS3-Normal</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T300-PS3-Advanced</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46703</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T300-PS3-Advanced</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T300-PS4-Normal</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46701</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T300-PS4-Normal</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>TX</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46697</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TX</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>TSXW</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46738</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TSXW</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>TSPC</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46729</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TSPC</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T248</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46742</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T248</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>T128</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46735</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.T128</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
        <key>TGT</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOUserClass</key>
            <string>MacoswheelsDriver</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>idVendor</key>
            <integer>1103</integer>
            <key>idProduct</key>
            <integer>46734</integer>
            <key>IOMatchCategory</key>
            <string>it.allard.macoswheels.TGT</string>
            <key>IOProbeScore</key>
            <integer>10000</integer>
            <key>WheelMode</key>
            <string>firmware</string>
        </dict>
    </dict>
</dict>
</plist>
